.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/**/*
public/system/*
public/uploads/*
test/tmp/*.csv
test/tmp/*
typescript
.rvmrc
REVISION
vendor/bundle
tmp/
log
public/system
.vagrant
.DS_Store
