<h1>404</h1>

<p>
  There is no such domain as <i><%= params[:a] || request.host %></i>.
</p>

<p>
  Please note that <i>www.example.com</i> and <i>example.com</i> are
  different domains.  If you want to serve custom variations of your domain,
  please add them under
  <a href="http://dumbocms.com/admin/domains/">Domains</a>
  tab.
</p>