<h1>404</h1>

<p>
  There is no document for path <i><%= @path %></i>.
</p>

<p>
  Please check configuration under the <i><%= @page %></i>. The format is
  similar to WordPress'
  <a href="http://codex.wordpress.org/Using_Permalinks#Structure_Tags">Permalinks</a>.
</p>
  
<p>
  Please note that this error message is visible only for development pages.
</p>